/* index.html */
.index {
    background-color: rgb(255, 255, 243);
    font-family:'Arial', 'Gill Sans MT', 'Courier New', 'Trebuchet MS', 'Times New Roman';
}

.index.links {
    text-align: center;
}

.index.links > ul {
    display: inline-block
}


/* All html files */
.recipes {
    text-align: center;
    font-family:'Arial', 'Gill Sans MT', 'Courier New', 'Trebuchet MS', 'Times New Roman';
    background-color: rgb(255, 255, 243);
}

.recipes.ingredients, .recipes.steps {
    text-align: left;
}

.recipes.ingredients > h3 {
    text-indent: 25px;
}

